<!DOCTYPE html>
<html lang="zh-CN" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%=env.prefixTitle %> 访问的页面未找到</title>
</head>
<body>

<div class="main-wrap">
    <%=  _.template(require('html-loader!@base/components/header.html').default)(env)  %>

    <div class="main-content not-found-wrap">
        <h1>你访问的页面不存在</h1>
        <div class="back-wrap">
            <a href="<%=env.publicPath %>">返回首页</a>
        </div>

    </div>
    <%=  _.template(require('html-loader!@base/components/footer.html').default)(env)  %>
</div>

</body>
</html>
