/*手机显示用包裹样式
375 设计图宽度时 .24rem = 12px
750 设计图宽度时 .12rem = 12px
*/

@media screen and (max-width: 414px) {
    html {
        font-size: 55.2px;
    }
}


@media screen and (max-width: 411px) {
    html {
        font-size: 54.80px;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 50px;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 48px;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 42.66px;
    }
}

@media screen and (min-width: 1024px) {
    html{
        font-size: 50px;
    }
}

body {
    font-size: .24rem;
}
