:root {
    --el-color-primary: @colorBase!important;
    --el-color-primary-light-3: lighten(@colorBase, 20%)!important;
    --el-color-primary-light-5: lighten(@colorBase, 30%)!important;
    --el-color-primary-light-7: lighten(@colorBase, 50%)!important;
    --el-color-primary-light-8: lighten(@colorBase, 60%)!important;
    --el-color-primary-light-9: lighten(@colorBase, 70%)!important;
    --el-color-primary-dark-2: darken(@colorBase, 30%)!important;


    --el-menu-item-height: 36px;
    --el-font-size-base: 13px;
}

body {
    font-size: var(--el-font-size-base)!important;
}


.clear-mw {
    min-width: auto!important;
}

.line-h1 {
    line-height: 1!important;
}
