/*
此文件为变量文件, 可以在其他less文件直接使用
*/

//互补色
@colorBase: #4285F4;
@colorBaseCp: spin(@colorBase, 180);

//三元色
@colorBase2: spin(@colorBase, -(360 / 3));
@colorBase3: spin(@colorBase, (360 / 3));

//亮, 暗
@colorHover: lighten(@colorBase, 10%);
@colorFocus: darken(@colorBase, 10%);

@colorBaseH10: lighten(@colorBase, 10%);
@colorBaseL10: darken(@colorBase, 10%);
@colorBaseH20: lighten(@colorBase, 20%);
@colorBaseL20: darken(@colorBase, 20%);
@colorBaseH30: lighten(@colorBase, 30%);
@colorBaseL30: darken(@colorBase, 30%);

//饱和度
//@colorHover1: saturate(@colorBase, 10%);
//@colorFocus1: desaturate(@colorBase, 10%);
//@colorDisabled: lightness(desaturate(@colorBase, 100%), 30%);
//@colorDisabled: desaturate(@colorBase, lightness(@colorBase));

@colorPrimary: @colorBase;
@colorSuccess: #52c41a;
@colorWarning: #faad14;
@colorDanger: #f5222d;
@colorInfo: #909399;

@colorTxt0: #172133;
@colorTxt1: #303133;
@colorTxt2: #606266;
@colorTxt3: #909399;
@colorTxt4: #C0C4CC;
@colorTxt5: #f2f2f2;



@headerHeight: 50px;
@menuWidth: 200px;

.colorBaseFade(@counter) {
    background-color: fade(@colorBase, @counter);
}

.colorFade(@color, @counter) {
    background-color: fade(@color, @counter);
}

