.page-500 {

    .header-wrap {
        background-color: #fff;
    }

    .page-content {
        position: relative;

        .earth-loading-wrap {
            position: absolute;
        }
    }


}
