/*scrollbar*/
::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 3px
}

::-webkit-scrollbar {
    width: 12px;
    height: 10px
}

::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #999;
    -webkit-border-radius: 7px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff
}

::-webkit-scrollbar-thumb:hover {
    height: 30px;
    background-color: #9f9f9f;
    -webkit-border-radius: 8px
}

.none {
    padding: 20px 0!important;
    text-align: center;
    color: #ccc;
    font-size: 13px;
}

.a-text {
    color: #409eff;
    padding: 8px 0;
}

.dialog-footer {
    text-align: center;
}

.page {
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    position: relative;
    font-size: 14px;
    font-weight: 500;

    .form-item-wrap {
        display: inline-block;
        align-items: center;
        display: flex;
        width: 350px;

        label {
            flex-shrink: 0;
            font-weight: 500;
            padding: 0 12px 0 0;
            font-size: var(--el-form-label-font-size);
            color: var(--el-text-color-regular);
        }

        .val {
        }
    }

    .page-title {
        font-weight: bold;
        padding: 20px 0;
        display: flex;
    }

    .page-form, .dialog-form{
        .title {
            font-weight: bold;
            padding: 20px;
            display: flex;
            align-items: center;

            & > span:nth-child(1) {
                margin-right: 10px;
            }
        }

        .el-form-item__label {
            font-size: 14px;
            font-weight: 500;
        }

        .el-select {
            width: 100%;
        }

        .block {
            width: 80%;

            .el-form-item__content {
                width: 80%;
            }

            .el-input {
                width: 100%!important;
            }
        }


        &.el-form--inline {
            .el-form-item__content > .el-input,
            .el-form-item__content > .el-select {
                width: 230px;
            }

            .hasbtn {
                width: 163px !important;
            }
        }
    }

    .dialog-form {
        .nowrap {
            .el-form-item__content {
                flex-wrap: nowrap;
            }
        }
    }

    .dialog-list {

    }

    .form-btn-wrap {
        padding: 10px;
        text-align: center;
    }

    .page-search {
        font-size: 14px;
        .el-form-item__label {
            font-size: 14px;
            font-weight: 500;
        }
    }

    .page-steps {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .page-tools {
        padding: 10px;
        display: flex;
        align-items: center;

        .item {
            margin-right: 15px;
            min-width: 200px;
        }
    }

    .page-tools + .el-table {
        margin-top: 20px;
    }
}


.info-wrap {
    .el-descriptions__label, .el-descriptions__content {
        font-weight: 500!important;
        font-szie: 14px;
    }
}


.hide-upload-btn {
    .el-upload--picture-card {
        display: none;
    }
}


.v-center {
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center
}

.sub-navbar {
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    transition: 600ms ease position;
    background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

    .subtitle {
        font-size: 20px;
        color: #fff;
    }

    &.draft {
        background: #d0d0d0;
    }

    &.deleted {
        background: #d0d0d0;
    }
}

.link-type,
.link-type:focus {
    color: #337ab7;
    cursor: pointer;

    &:hover {
        color: rgb(32, 160, 255);
    }
}

.filter-container {
    padding-bottom: 10px;

    .filter-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
    }
}

//refine vue-multiselect plugin
.multiselect {
    line-height: 16px;
}

.multiselect--active {
    z-index: 1000 !important;
}
