$main-theme: #00ADB5;

$base-menu-box-shadow: 0px 4px 8px 1px #00ADB5;//2px 0 6px rgb(0, 21, 41, .35)
$base-menu-background: $main-theme;//#304156
$base-menu-color: #fff;//#bfcbd9
$active-menu-color: $main-theme;//#409EFF;
$active-menu-bg: #fff;
$hover-menu-bg: rgba(0, 0, 0, 0.06);

$menu-logo-height: 120px;
$menu-collapse-width: 200px;
$menu-uncollapse-width: 54px;
