@font-face {
  font-family: "iconfont"; /* Project id 5221548 */
  src: url('iconfont.woff2?t=1786413553115') format('woff2'),
       url('iconfont.woff?t=1786413553115') format('woff'),
       url('iconfont.ttf?t=1786413553115') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e6e0";
}

.icon-point:before {
  content: "\e9b5";
}

.icon-expand:before {
  content: "\e605";
}

.icon-collapse:before {
  content: "\e606";
}

.icon-activate:before {
  content: "\e920";
}

.icon-down:before {
  content: "\e921";
}

.icon-left:before {
  content: "\e922";
}

.icon-right2:before {
  content: "\e923";
}

.icon-up:before {
  content: "\e924";
}

.icon-right:before {
  content: "\e925";
}

.icon-add:before {
  content: "\e926";
}

.icon-alarm:before {
  content: "\e927";
}

.icon-calendar:before {
  content: "\e928";
}

.icon-book:before {
  content: "\e92b";
}

.icon-grid-turn:before {
  content: "\e92c";
}

.icon-grid-unfilled:before {
  content: "\e92d";
}

.icon-grid-filled:before {
  content: "\e92e";
}

.icon-notify:before {
  content: "\e92f";
}

.icon-phone:before {
  content: "\e930";
}

.icon-ranking:before {
  content: "\e931";
}

.icon-refresh:before {
  content: "\e933";
}

.icon-refresh-left:before {
  content: "\e934";
}

.icon-search:before {
  content: "\e935";
}

.icon-save:before {
  content: "\e93e";
}

.icon-user-group:before {
  content: "\e941";
}

.icon-upload2:before {
  content: "\e942";
}

.icon-upload1:before {
  content: "\e943";
}

.icon-refresh-right:before {
  content: "\e945";
}

