<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>发生了一些问题</title>
</head>
<body>
<div class="page page-500 has-header">
    <div id="header" class="header-wrap"></div>
    <div class="page-content">
        <pre th:text="${msg}">我们已记录该错误</pre>
    </div>
</div>
</body>
</html>
